{% extends "base.html" %}
{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">test</h1>
            <h4><code class="language-python">print 'Life is short,You need Hell !'</code></h4>
            <div class="cnblogs_Highlighter">
            <pre class="brush:python;gutter:true;">
            #! /usr/bin/env python
            #coding=utf-8
            import os ,time ,unittest
            from selenium import webdriver
            </pre>
            </div>
            
            <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
            <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
            <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Javascript代码高亮着色显行号-柯乐义</title>
            <script type="text/javascript" src="http://www.keleyi.com/keleyi/phtml/codecolor/a/scripts/shCore.js"></script>
            <script type="text/javascript" src="http://www.keleyi.com/keleyi/phtml/codecolor/a/scripts/shBrushJScript.js"></script>
            <link type="text/css" rel="stylesheet" href="http://www.keleyi.com/keleyi/phtml/codecolor/a/styles/shCoreDefault.css"/>
            <script type="text/javascript">SyntaxHighlighter.all();</script>
            </head>
            <body style="background: white; font-family: Helvetica">
            <h1>Js代码高亮着色显行号</h1>
            <pre class="brush: js;">
                  #! /usr/bin/env python
                  #coding=utf-8
                  import os ,time ,unittest
                  from selenium import webdriver
            </pre>
            </body>
            </html>
            
        </div>
{% endblock %}